.gender-icon {
    display: inline-block;
    width: 20px; /* Povećaj veličinu kružića */
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Dodaj sjenčanje za bolji kontrast */
    transition: all 0.3s ease; /* Dodaj prijelaz za glatke promjene boje */

    /*centriranje u parent elementu*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.male {
    background-color: #007bff; /* Promijenjena nijansa plave za bolji kontrast */
}

.female {
    background-color: #e83e8c; /* Promijenjena nijansa crvene */
}

.gender-icon:hover {
    transform: scale(1.2); /* Malo uvećaj kružić pri hoveru */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Povećaj sjenčanje pri hoveru */
}